
*{
   box-sizing:border-box; 
}

/* Day Mode and Night Mode Backgrounds*/
.dayBG{
    font-family: 'Montserrat';
    background-image: url(../assets/pexels-lukas-296234.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

.nightBG{
    font-family: 'Montserrat';
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(71, 97, 114, 0.243)),  url(../assets/casey-horner-fsJB3KT2rj8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
/* End of Backgrounds*/

/* Search Stylig */

input[text]{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    color: darkslategrey;
}

input{
    background-color: white;
    border-radius: 10px;
    height: 62px;
    width:342px;

    margin-top: 104px;
    margin-left: 44px;
}

button{
    background-color: transparent;
    border-color: transparent; 
}

.child {
    position: absolute;
    top: 0;
}
  
.child-1 {
    left: 0;
}

.child-2 {
    left: 334px;
    margin-top: 120px;
}

.child-3{
    left:64px;
    margin-top:280px;
}

.child-4{
    left: 328px;
    margin-top: 275px;
}

.parent {
    position: relative;
}

.wrapper, html, body {
    min-height: 100%;
    margin: 0;
    position: relative;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1D2837
}

/* end of Search Styling */

/* Main Section */

.title{
    margin-top: 68px;
    margin-left: 70px;
}

.display{
    background-color: #6E6E6E40;
    filter: drop-shadow(0px 50px 50px #ffc9c9);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 808px;
    height: 461px;
    margin-top: 92px;
    margin-left:101px;
}

.center{
    text-align: center;
}

.space{
    margin-top:55px;
}

.leftSpacing{
    margin-left: 45px;
}

.current{
    margin-top:80px;
}

.hide{
    display: none;
}

.line1 {
    border-left: 1px solid white;
    height:338px;
    position: absolute;
    margin-left:50%;
    margin-left: 204px;
    margin-top:36px;
    top:0;
    rotate:90deg;
}

.line2 {
    border-left: 1px solid white;
    height:338px;
    position: absolute;
    margin-left:50%;
    margin-left: 204px;
    margin-top: 190px;
    top:0;
    rotate:90deg;
}

.line3 {
    border-left: 1px solid white;
    height:338px;
    position: absolute;
    margin-left:50%;
    margin-left: 204px;
    margin-top: 675px;
    top:0;
    rotate:90deg;
}
